{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="row">
    <div class="col-auto">
        <img src="{{ book.cover }}" alt="cover" height="500" width="auto">
    </div>
    <div class="col" style="margin-left: 15px;">
        <h3>{{ book.title }}</h3>
        <h5 class="text-muted">{{ book.author.full_name }}</h5>
        <p>
            Жанры: 
            {% for genre in book.genre.all %}
            <a href="{{ genre.get_absolute_url }}">{{ genre.title }}</a>
            {% endfor %}
        </p>
        <hr>
        <div>
            <div class="row">
                <div class="col-5" style="width: 150px">
                    <p>ISBN</p>
                    <p>Страниц</p> 
                    <p>Год издания</p>
                    <p>Тираж</p>
                    <p>Тип обложки</p>
                    <p>Формат</p>
                    <p>Вес, г</p>
                    <p>В наличии, шт</p>
                </div>
                <div class="col-6">
                    <p>{{ book.isbn }}</p>
                    <p>{{ book.pages }}</p>
                    <p>{{ book.published_at }}</p>
                    <p>{{ book.circulation }}</p>
                    <p>{{ book.cover_type }}</p>
                    <p>{{ book.book_format }}</p>
                    <p>{{ book.weight }}</p>
                    <p>{{ book.units_in_stock }}</p>
                </div>
            </div>

            <div style="width: 300px">
                {% include 'buybook/inc/_buttons.html' %}
            </div>

        </div>
    </div>
</div>
<h5 style="margin-top: 20px;">Описание</h5>

{% if book.note %}
    <p>{{ book.note }}</p>
{% else %}
    <p>Позже здесь появится описание книги...</p>
{% endif %}

<hr style="border: 3px;">
<h4 style="margin: 20px 0px;">Комментарии читателей</h4>

<div style="width: 600px">
    {% if request.user.is_authenticated %}
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-primary btn-block">Отправить</button>
        </form>
    {% else %}
        <form method="get">
            {% csrf_token %}
            {{ form.as_p }}
            <a type="submit" class="btn btn-primary btn-block" data-bs-toggle="modal" data-bs-target="#is_not_authenticated">Отправить</a>
        </form>
    {% endif %}
</div>
<div style="width: 600px">
        {% if all_comments %}
            {% for comment in all_comments %}
                <div class="row" style="margin-top: 30px">
                    <div class="col-auto">
                        <h5>{{ comment.user }}</h5>
                    </div>
                    <div class="col">
                        Оценка: {{ comment.estimate }} / 5
                    </div>
                </div>
                <div class="row">
                    <div class="col-10">
                        <div class="card" style="padding: 10px;">{{ comment.text }}</div>
                    </div>
                    <div class="col-2">
                        {% if comment.user == request.user %}
                        <form id="delete_comment_{{ comment.pk }}" action="{% url 'delete_comment_url' comment.pk %}" method="post">
                            {% csrf_token %}
                            <button type="submit" style="vertical-align: middle; border: none; background-color: inherit;">
                                <img src="{% static 'img/cross.png' %}" alt="cross" height="25">
                            </button>
                        </form>
                        {% endif %}
                    </div>
                    
                </div>
                
            {% endfor %}
        {% else %}
        <p class="text-secondary" style="margin-top: 20px;">К сожалению, отзывов нет...</p>
        {% endif %}
</div>

{% endblock content %}