{% load static %}

<div class="row">

    <div class="col-4" style="min-width: 60px; padding: 0px 5px; display: flex; align-items: center; justify-content: center;">
        <p style="margin: 0px;">{{ book.cost }} ₽</p>
    </div>

    <div class="col-5" style="padding: 0 2px; min-width: 125px; display: flex; align-items: center;">
        <div class="row">
            {% if request.user.is_authenticated %}
                <form id="create_basket_form_{{book.pk}}" action="{% url buy_url book.pk %}" method="post">
                    {% csrf_token %}
                    <button type="submit" class='btn btn-primary btn-block' data-bs-toggle="modal" data-bs-target="#go_to_basket" style="padding: 6px 12px 6px 6px; width: 100%; ">
                        <img src="{% static 'img/minibasket.png' %}" alt="minibasket" height="20">
                        Купить
                    </button>
                </form>
            {% else %}
                <button type="submit" class='btn btn-primary btn-block' data-bs-toggle="modal" data-bs-target="#is_not_authenticated" style="padding: 6px 12px 6px 6px; width: 100%; ">
                    <img src="{% static 'img/minibasket.png' %}" alt="minibasket" height="20">
                    Купить
                </button>
            {% endif %}
        </div>
    </div>

    <div class="col-2" style="display: flex; align-items: center;">
        <div class="row">
            {% if request.user.is_authenticated %}
                <form id="create_marked_form_{{book.pk}}" action="{% url mark_url book.pk %}" method="post">
                    {% csrf_token %}
                    <button type='submit' class='btn btn-primary btn-block' data-bs-toggle="modal" data-bs-target="#go_to_marked" style="padding: 6px 12px 6px 6px; width: 100%; min-width: 30px; padding: 6px 0px;">
                        <img src="{% static 'img/bookmark.png' %}" alt="mark" width="20px">
                    </button>
                </form>
            {% else %}
                <button type="submit" class='btn btn-primary btn-block' data-bs-toggle="modal" data-bs-target="is_not_authenticated" style="padding: 6px 12px 6px 6px; width: 100%; min-width: 30px; padding: 6px 0px;">
                    <img src="{% static 'img/bookmark.png' %}" alt="mark" width="20px">
                </button>
            {% endif %}
        </div>
    </div>

</div>

<div class="modal fade" id="go_to_basket" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body">
                Желаетели ли вы перейти в корзину?
            </div>
            <div class="modal-footer">
                <a href="{% url 'basket_url' %}" class="btn btn-primary">Перейти</a>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" data-bs-target="#my-modal">Остаться</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="go_to_marked" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body">
                Желаетели ли вы перейти в закладки?
            </div>
            <div class="modal-footer">
                <a href="{% url 'marked_url' %}" class="btn btn-primary">Перейти</a>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Остаться</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="is_not_authenticated" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Ошибка доступа</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p style="margin: 7px 0px;">
                    Пожалуйста, пройдите 
                    <a href="{% url 'registration_page' %}">регистрацию</a> и
                    <a href="{% url 'login_page' %}">авторизацию</a>.
                </p>
            </div>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
