<h4 style="text-align: center;">Жанры</h4>
<hr>
<div style="margin-left: 10px;">
    {% for genre in genres %}
        {% if title == genre %}
        <p>
            <a href="{{ genre.get_absolute_url }}">
                <strong><h5>{{ genre.title }}</h5></strong>
            </a>
        </p>
        {% else %}
        <p>
            <a href="{{ genre.get_absolute_url }}" style="text-decoration: none; color: black;">
                <strong>{{ genre.title }}</strong>
                
            </a>
        </p>
        {% endif %}
    {% endfor %}
</div>