{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="row">

    <div class="col-2" style="min-width: 200px;">
        {% include 'buybook/genres.html' %}
    </div>

    <div class="col-9">
        <div class="row">

            {% for book in book_list %}
            <div class="col-4" style="margin-bottom: 25px;">
                <div class="card h-100">
                    <a href="{{ book.get_absolute_url }}" style="margin: auto; margin-top: 10px;">
                        <img src="{{ book.cover }}" alt="cover" height=300>
                    </a>
                    <div class="card-body">
                        <h5 class="card-title mb-4">
                            <a href="{{ book.get_absolute_url }}">
                                {{ book.title }}
                            </a>
                        </h5>
                        <h6 class="card-subtitle mb-3 text-muted">{{ book.author.full_name }}</h6>
                        
                        {% include 'buybook/inc/_buttons.html' %}
                        
                    </div>
                </div>
            </div>
            {% endfor %}

        </div>
        
        {% include 'buybook/inc/_paginator.html' %}

    </div>

</div>

{% endblock %}
