{% load static %}

<div class="header" style="min-height: 300; background: rgb(146, 211, 241); padding: 10px 0px 30px 0px; margin-bottom: 30px;">
    <div class="container">
        <div class="row">
            <div class="col-md-3 offset-md-9">
                <div class="row">
                    {% if request.user.is_authenticated %}
                    <div class="col-6 text-center" style="min-width: 55px;">
                        <a class="btn btn-primary" href="{% url 'profile' request.user.pk %}" style="padding: 2px; margin: 0px 5px">
                            <img src="{% static 'img/profile.png' %}" alt="profile" height="32">
                        </a>
                    </div>
                    <div class="col-6 text-center" style="min-width: 80px;">
                        <a class="btn btn-danger" href="{% url 'logout_page' %}">Выйти</a>
                    </div>
                    {% else %}
                    <div class="col-6">
                        <a class="nav-link" href="{% url 'login_page' %}">Авторизация</a>
                    </div>
                    <div class="col-6">
                        <a class="nav-link" href="{% url 'registration_page' %}">Регистрация</a>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <hr>
    <div class="container">
        
        <div class="row">

            <div class="col-3 align-self-center" style="min-width: 150px;">
                <a href="{% url 'home' %}" style="color: azure; text-decoration: none;">
                    <h1>BuyBook</h1>
                </a>
            </div>

            <div class="col-6 align-self-center" style="min-width: 350px;">
                <form action="{% url 'search' %}" method="get">
                    <div class="row">
                        <div class="col-9">
                            <input type="text" name="view_variable" class="form-control" id="search" placeholder="Поиск...">
                        </div>
                        <div class="col-1" style="padding-left: 0;">
                            <button type='submit' class='btn' style="padding-left: 0;">
                                <img src="{% static 'img/loupe.png' %}" alt="loupe" height="25">
                            </button>
                        </div>
                    </div>
                </form>
            </div>

            <div class="col-3 align-self-center" style="min-width: 285px;">
                <div class="row">
                    <div class="col-6 text-center" style="min-width: 130px;">
                        <a href="{% url 'basket_page' %}">
                            <img src="{% static 'img/basket.png' %}" alt="basket" height="80">
                        </a>
                    </div>
                    <div class="col-6 text-center" style="min-width: 80px;">
                        <a href="{% url 'marked_page' %}">
                            <img src="{% static 'img/bookmark_header.png' %}" alt="bookmark" height="80">
                        </a>
                        <!-- <a href="{% url 'basket_page' %}">Корзина</a> <br>
                        <a href="{% url 'marked_page' %}">Закладки</a> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>